<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/scripts/jquery.sparkline.min.js"></script>
		<link rel="stylesheet" href="/styles/bootstrap.min.css">

    <style>
      html, body {
        margin: 0;
      }
      .box { float: left; }
      #root { margin: 0 auto; }

      #uniques-graph { width: 100%; }
      #pages { width: 50%; }
      #referers { width: 50%; }

      #uniques-graph {
        height: 80px;
      }

      #pages table, #referers table {
        width: 100%;
      }
    </style>

    <script type="text/javascript">
      var uniques = new Array();

			function updateUniques() {
        var clientId = $("#clientId").val();
				$.getJSON("/client/" + clientId + "/uniques", function(data) {
						uniques.push(data.Count)
						if (uniques.length == 301) { uniques.splice(0, 1); }
						$('#uniques').text(data.Count + " users online")
						$('#uniques-graph').sparkline(uniques, {width: "100%",height: "100%", type:"line", tooltipSuffix: " users online"});
				});
			}

      function updateTopPages() {
        var clientId = $("#clientId").val();
        $.getJSON("/client/" + clientId + "/pages", function(data) {
          var rows = "<tbody>";
            rows = rows + "<tr><th>Page</th><th>Hits</th></tr>";
            $.each(data, function(index, topPage) {
              rows = rows + "<tr><td>" + topPage.Page + "</td><td>" + topPage.Count + "</td></tr>";
            });
            rows = rows + "</tbody>";
          var table = $("#pages table tbody");
          table.replaceWith(rows);
        });
      }

      function updateTopReferers() {
        var clientId = $("#clientId").val();
        $.getJSON("/client/" + clientId + "/referers", function(data) {
          var rows = "<tbody>";
            rows = rows + "<tr><th>Referer</th><th>Referals</th></tr>";
            $.each(data, function(i, d) {
              rows = rows + "<tr><td>" + d.Referer + "</td><td>" + d.Count + "</td></tr>";
            });
            rows = rows + "</tbody>";
          var table = $("#referers table tbody");
          table.replaceWith(rows);
        });
      }

      $(document).ready(function() {
				updateUniques();
        updateTopPages();
        updateTopReferers();

        setInterval(updateUniques, 1000);
        setInterval(function() {
          updateTopPages();
          updateTopReferers();
        }, 5000);
      });
    </script>
  </head>
  <body>
		<div class="container">
			<div class="page-header">
				<h1>statistic.li <small>{{clientId}}</small></h1>
				<h2 id="uniques">0 users online</h2>
			</div>

			<input id="clientId" type="hidden" value="{{clientId}}" />
			<div id='root'>
				<div class='box' id='uniques-graph'>
				</div>
				<div class='box' id='pages'>
					<h2>Top Pages</h2>
					<table class="table">
						<tbody>
						</tbody>
					</table>
				</div>
				<div class='box' id='referers'>
					<h2>Top Referers</h2>
					<table class="table">
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
  </body>
</html>
