<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<script type="text/javascript">
		//<![CDATA[
			var sts = document.createElement('script'); sts.type = 'text/javascript'; sts.async = true;
			sts.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'statistic.li/scripts/tracker.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sts, s);
		//]]>
		</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-443109-14', 'statistic.li');
			ga('send', 'pageview');

		</script>
		<style>
			.ipad-screen {
				width: 100%;
			}
		</style>
  </head>
  <body>
		<div class="container">
			<div class="page-header">
				<a href="/client/example.org" class="btn btn-success pull-right">See a Demo</a>
				<h1>statistic.li <small>dead simple site statistics</small></h1>
				<h2>see what's happening on your site in real time</h2>
				<img class="ipad-screen" src="/images/ipad.png" alt="statistic.li on an iPad"/>
			</div>
			<h2>Installation</h2>
			<pre>{{code}}</pre>
			<h2>Usage</h2>
			<p>Navigate to <code>statistic.li/client/your-domain-name.com</code> to see statistics!</p>
		</div>
  </body>
</html>
